body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}
section{
    background-color: aliceblue;
    text-align: center;
    max-width: 260px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.214);
}
h1{
    color: blue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.159);
}
#numberbox{
    width: 250px;
    height: 40px;
    text-align: center;
    font-size: 3rem;
    border-radius: 10px;
}
label{
    font-size: 1.3rem;
    font-weight: bold;
}
button{
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    background-color: green;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.255), -1px -1px 5px  rgba(0, 0, 0, 0.255);
    margin-top: 20px;
    width: 200px;
    margin-bottom: 20px;
}
#display{
    font-size: 2rem;
    font-weight: bold;
}
button:hover{
    background-color: darkgreen;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.521);
}
select{
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(223, 230, 231);
    font-weight: bold;
    background-color: rgb(27, 99, 99);

}
input{
    outline: none;
    border: none;
    margin-bottom: 20px;
    width: 190px;
    border-radius: 10px;
    padding-left: 10px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(223, 230, 231);
    font-weight: bold;
    background-color: rgb(27, 99, 99);
}
p{
    display: flex;
    outline: none;
    border: none;
    margin-bottom: 20px;
    width: 190px;
    border-radius: 10px;
    padding-left: 10px;
    height: 80px;
    font-size: 1.2rem;
    color: rgb(223, 230, 231);
    font-weight: bold;
    background-color: rgb(27, 99, 99);
    margin: auto;
    align-items: center;
}