nav{
    color: blue;
    background: white;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 5px black;
    padding: 2px;
}
*{
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
    background-color: antiquewhite;
}
section{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.091), white);
    width: 80%;
    margin: auto;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-shadow: 2px 1px 5px black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.584), -2px -2px 5px rgba(0, 0, 0, 0.584);
    margin-top: 20px;
    position: relative;
    z-index: -1;
    overflow: hidden;
    border: 3px solid white;
}
.container{
    z-index: 100;
}
.gap{
    margin-top: 50px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    position: absolute;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.619));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}