body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 0;
}
section{
    background-color: aliceblue;
    text-align: center;
    max-width: 280px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.214);
}
h1{
    color: blue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.159);
}
#numberbox{
    width: 250px;
    height: 40px;
    text-align: center;
    font-size: 3rem;
    border-radius: 10px;
}
label{
    font-size: 1.3rem;
    font-weight: bold;
}
button{
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    background-color: green;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.255), -1px -1px 5px  rgba(0, 0, 0, 0.255);
    margin-top: 10px;
}
button:hover{
    background-color: darkgreen;
    cursor: pointer;
}
#display{
    font-size: 2rem;
    font-weight: bold;
}
.cover{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    position: absolute;
    background: rgba(255, 255, 255, 0.521);
}
img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
}